@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




* ,*::before , **::after{
  padding: 0;
  margin: 0;
}

.leaflet-container {
  width: 100wh; 
  height: 50vh;
}

@font-face {
  font-family: poor;
  src: url('../../public/assets/fonts/poorStory/PoorStory-Regular.ttf');
}